@import '../../Styles/mixins.scss';
@import '../../Styles/variables.scss';

// .section_Holder{
//    position: relative;
// }

.empty_div::before{
   content: ' ';
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   opacity: 0.9;
   width: 100%;
   height: 100%;
   z-index: -1;
}

.carsel{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 20vh;
   margin-top: 30px;
}


// @media (max-width: 768px){
// .empty_div::before{
//    background-size: cover;
//    background-position-x: 50%;
//    background-position-y: 50%;
//    background-blend-mode: overlay;
//    background-attachment: fixed;
// }
// }
