@import "../../Styles/mixins";
@import "../../Styles/variables";

.contact{
   display: flex;
   flex-direction: column;
   height: 100vh;
   // flex: 1;
   .cnctTxtCtn{
      display: flex;
      flex: 1;
      @include bordered;

      .cnctTxt{
         flex: 1; 
         padding: 20px 25px;
      }
   }
}

/*@media screen and (max-width: 768px){
   .contact{
   .cnctTxtCtn{
      .cnctTxt{
         padding: 15px 10px;
      }
   }
}
}*/
