@import "../../Styles/mixins";
@import "../../Styles/variables";
// @import "~bootstrap/scss/bootstrap";

.contact{
   display: flex;
   flex-direction: column;
   height: 100vh;
   // flex: 1;
   .cnctTxtCtn{
      display: flex;
      flex: 1;
      // @include bordered;

      .cnctTxt{
         flex: 1; 
         padding: 20px 25px;

         form{
            .custBtn{
               background: $primary-color;
            }
         }
      }
   }
}
