@import "../../Styles/variables.scss";
@import "../../Styles/mixins.scss";

.prfle {
   padding: 0.8rem 1rem;
	h2 {
		text-align: center;
		color: $background-color;
	}

   .prjtImgCrd{
      // @include set-to-flex($justify-content: flex);
         display: flex;
         margin-top: 0.8rem;
         .prjtCrd{
         display: flex;
         flex-direction: column;
         max-width: 18.75rem;
         max-height: 25rem;
         border-radius: 10px;
         border: 1px solid $quinary-color;
         margin: 0 0.3rem;
         
         .scrnShot{
            border-radius: 10px 10px 0 0;
            width: 100%;
            height: 150px;
         }

         .prjtcrdTxt{
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            border-top: $quinary-color 1px solid;

            p{
               flex: 1;
               color: $background-color;
               font-size: 0.8rem;
               font-weight: 500;
               cursor: pointer;
            }
         }

         .iconHldr{
            @include set-to-flex($justify-content: space-between);
            padding: 0.5rem;

            a{
               border-radius: 25px;
               border: 1px solid $quinary-color;
               padding: 0.5rem 0.3rem;
            }

            .box{
               // font-size: 1.5rem;
               @include set-to-flex($justify-content: space-between);
               color: $background-color;
               cursor: pointer;
               transition: all 0.3s ease-in-out;

               &:hover {
                  color: $primary-color;
               }

               span{
                  font-size: 0.8rem;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 768px) {
   .prfle {
      .prjtImgCrd{
               @include set-to-flex( $flex-direction: column);
         .prjtCrd{
            margin-top: 0.5rem;
         //    .prjtcrdTxt{
               
         //    }
         }
      }
   }
}
